.cards-container{
   height: 100%;
    padding: 1%;
    display: flex;
    width: 100%;
    /* align-items: center; */
    flex-direction: row;
}

.cart-container{
    height: 100%;
    padding: 1%;
    width: 75%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.cart-subtot{
    background:#f7eff7;
    height: 15%;
    width: 21%;
    border: solid #b2a3a3 0.1px;
    padding: 3px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:fixed;
    left: 74%;
}

