.header-container{
    height: 10%;
    background:#000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header-name{
    color: rgb(180, 224, 77);
    font-size: 65px;
    font-weight: bold;
    margin: auto;
}


.header-btns{
 width: 30%;
display: flex;
justify-content: space-around;
margin: 10px;
}
