.product-container{
    height: 100%;
    background-color:#dde6e3;
    padding: 10px;
   }
   
   .product-list-container{
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
       overflow-y: scroll;
       height: 85%;
   
   }
   
   #overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  .react-player {
    margin: auto;
    margin-top: 50px;
  }